doctype html
html
  head
    title
      | MyBbs
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  body
    header.navbar.navbar-expand-sm.navbar-light.bg-light
      .container
        = link_to 'MyBBS', 'root_path', class: 'navbar-brand'
    .container
      = yield
